*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }

.body{
  background-color:#F7F7F7;
  font-family: helvetica, arial;
  margin:0;
  padding-top:20px;
}

.main{
  opacity:0;
}

.hello{
  opacity:0;
}
